@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: myFirstFont;
    src: url(./assets/fonts/vazir/Vazirmatn-Regular.ttf);
  }
  
  *{
    font-family: myFirstFont;
  }